<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "urn:fontconfig:fonts.dtd">

<fontconfig>

  <!-- Sans -->
  <alias>
    <family>sans-serif</family>
    <prefer>
      <family>MiSans</family>
      <family>Noto Sans CJK SC</family>
    </prefer>
  </alias>

  <!-- Serif -->
  <alias>
    <family>serif</family>
    <prefer>
      <family>LXGW ZhenKai GB</family>
      <family>LXGW WenKai Screen</family>
      <family>Noto Serif CJK SC</family>
    </prefer>
  </alias>

  <!-- Monospace -->
  <alias>
    <family>monospace</family>
    <prefer>
      <family>ComicShannsMono Nerd Font</family>
      <family>Maple Mono Normal NF CN</family>
      <family>Sarasa Mono SC</family>
    </prefer>
  </alias>


  <!-- Anti-alias -->
  <match target="font">
    <edit name="antialias" mode="assign">
      <bool>true</bool>
    </edit>
  </match>

  <!-- Hinting -->
  <match target="font">
    <edit name="hinting" mode="assign">
      <bool>true</bool>
    </edit>
  </match>

  <!-- Hint Style -->
  <match target="font">
    <edit name="hintstyle" mode="assign">
      <const>hintslight</const>
    </edit>
  </match>

  <!-- Subpixel -->
  <match target="font">
    <edit name="rgba" mode="assign">
      <const>rgb</const>
    </edit>
  </match>

  <!-- LCD Filter -->
  <match target="font">
    <edit name="lcdfilter" mode="assign">
      <const>lcddefault</const>
    </edit>
  </match>

  <!-- Disable bitmap fonts -->
  <match target="font">
    <edit name="embeddedbitmap" mode="assign">
      <bool>false</bool>
    </edit>
  </match>

<!-- Enable bitmap for emoji -->
<match target="font">
  <test name="family">
    <string>Noto Color Emoji</string>
  </test>

  <edit name="embeddedbitmap" mode="assign">
    <bool>true</bool>
  </edit>
</match>

</fontconfig> 
